body{
    padding: 0;
    margin: 0;
    background-image: url(./shara_desert_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;

}
.logo{
   margin-top: 30px;
   margin-left: 30px;
}
.item{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.val{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    float: right;
    right: 20px;
    top: 20px;
    margin-top: -50px;
}
.main{
    display: flex;
    width: 100%;
   
    flex-direction: row;
    margin-top: 25px;
    color: aliceblue;
    justify-content: space-between;
}
.div1{
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}
.div2{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 70vh;
    flex-wrap: wrap;
    gap: 25px;
}
.pic{
  width: 35%;
  height: 40%;
  border-radius: 10%;
  padding: 10px;
}
.pic:hover{
    transform: translate(-10px,-10px);
    box-shadow: 0px 0px 5px gray;
}
.head{
    font-size: 55px;
    margin-bottom: 20px;
}
.text{
    font-size: 20px;
    margin-bottom: 20px;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 20%;
}
button:hover{
    color: white;
    background-color: black;
}
.western{
    background-image: url(./pic-1.png);
    background-size: cover;
}
.bagawat{
    background-image: url(./pic-2.png);
    background-size: cover;
}
.pyramid{
    background-image: url(./pic-3_480.png);
    background-size: cover;
}
.kalahari{
    background-image: url(./pic-4_480.png);
    background-size: cover;
}






@media only screen and (max-width:900px) and (min-width:501px) {
    body{
        background-image: url(./shara_desert_720.jpg);
        background-size: cover;
        box-sizing: border-box;
    }
    .logo{
        margin-top: 20px;
        margin-left: 20px;
     }
     .item{
         text-decoration: none;
         color: aliceblue;
         font-size: 20px;
     }
     

     .main{
        display: flex;
        width: 100%;
       
        flex-direction: column;
        margin-top: 25px;
        color: aliceblue;
        justify-content: space-between;
    }
    .div1{
        text-align: center;
        margin-top: 50px;
        padding: 20px;
        width: 100%;
    }
    .div2{
        display: block;
        width: 100%;
        height: 100vh;
        flex-wrap: wrap;
        gap: 25px;
        margin: auto;
    }
    .val{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        float: right;
        right: 20px;
        top: 20px;
        margin-top: -50px;
    }
    .pic{
        width: 80%;
        height: 35%;
        border-radius: 10%;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;
      }
      .pic:hover{
          transform: translate(-10px,-10px);
          box-shadow: 0px 0px 5px gray;
      }

    
}





@media only  screen and (max-width:500px) {
    body{
        background-image: url(./shara_desert_720.jpg);
        background-size: cover;
        box-sizing: border-box;
    }
    .logo{
        height: 50px;
        width: 50px;
    }
    .main{
        display: flex;
        width: 100%;
       
        flex-direction: column;
        margin-top: 25px;
        color: aliceblue;
        justify-content: space-between;
    }
    .div1{
        text-align: center;
        margin-top: 50px;
        padding: 20px;
        width: 100%;
    }
    .div2{
        display: block;
        width: 100%;
        height: 100vh;
        flex-wrap: wrap;
        gap: 25px;
        margin: auto;
    }
    .val{
        width: 40%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        float: right;
        right: 20px;
        top: 20px;
        margin-top: -50px;
    }
    .pic{
        width: 80%;
        height: 40%;
        border-radius: 10%;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px;
      }
      .pic:hover{
          transform: translate(-10px,-10px);
          box-shadow: 0px 0px 5px gray;
      }

}






